numpy==2.3.5
pandas==2.2.3
scipy==1.17.0
matplotlib==3.10.8
scikit-learn==1.8.0
statsmodels==0.14.6
imbalanced-learn==0.14.1
joblib==1.5.3
nbformat==5.10.4
nbconvert==7.17.1
jupyterlab>=4.0
ipykernel>=6.0
